:root {
  --primary-color: #154c4a;
  /* alternate primary color option: #21b700 */
  --secondary-color: #32a795;
  --secondary-light: #4df4db;
  --heading-text: #2c2c2c;
  --body-text: #838181;
  --white: #ffffff;
  --background: #1c242e;
}
